<header></header>
<div id="modal1">
  <div class="main-back-btn">◀️ 戻る</div>
  <div class="menus">
    <div class="main-menu">
      <div class="menu-status">
        <div class="profiles">
          <img src="##" class="img">
          <div class ="profile">
            <div class="name">####</div>
            <div class="life-p">HP<br>9999</div>
            <div class="magic-p">MP<br>999</div>
          </div>
        </div>
        <div class="profiles">
          <img src="##" class="img">
          <div class ="profile">
            <div class="name">####</div>
            <div class="life-p">HP<br>9999</div>
            <div class="magic-p">MP<br>999</div>
          </div>
        </div>
        <div class="profiles">
          <img src="##" class="img">
          <div class ="profile">
            <div class="name">####</div>
            <div class="life-p">HP<br>9999</div>
            <div class="magic-p">MP<br>999</div>
          </div>
        </div>
        <div class="profiles">
          <img src="##" class="img">
          <div class ="profile">
            <div class="name">####</div>
            <div class="life-p">HP<br>9999</div>
            <div class="magic-p">MP<br>999</div>
          </div>
        </div>
      </div>
      <ul class="menu-contents">
        <li class="menu a">
          <p class="content-word">ステータス</p>
        </li>
        <li class="menu b">
          <P class="content-word">アイテム</p>
        </li>
        <li class="menu c">
          <p class="content-word">まほう</p>
        </li>
        <li class="menu d">
          <p class="content-word">わざ</p>
        </li>
        <li class="menu e">
          <p class="content-word">コンフィグ</p>
        </li>
        <li class="menu f">
          <p class="content-word">セーブ</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<%# ステータス画面 %>
<div id="modal2">
  <div class="back-btn">◀️ 戻る</div>
  <div class="statuses">
    <div class="status">
      <div class="view">
        <img src="##" class="img">
      </div>
      <div class="status-wrapper">
        <ul class="status-contents">
          <li class="status-content">
            <div class="status-word">ちから</div>
            <div class="states-point">15</div>
          </li>
          <li class="status-content">
            <div class="status-word">はやさ</div>
            <div class="states-point">20</div>
          </li>
          <li class="status-content">
            <div class="status-word">ちせい</div>
            <div class="states-point">10</div>
          </li>
          <li class="status-content">
            <div class="status-word">みのまもり</div>
            <div class="states-point">12</div>
          </li>
          <li class="status-content">
            <div class="status-word">うん</div>
            <div class="states-point">255</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="status">
      <div class="view">
        <img src="##" class="img">
      </div>
      <div class="status-wrapper">
        <ul class="status-contents">
          <li class="status-content">
          <div class="status-word">ちから</div>
          <div class="states-point">15</div>
          </li>
          <li class="status-content">
          <div class="status-word">はやさ</div>
          <div class="states-point">20</div>
          </li>
          <li class="status-content">
          <div class="status-word">ちせい</div>
          <div class="states-point">10</div>
          </li>
          <li class="status-content">
          <div class="status-word">みのまもり</div>
          <div class="states-point">12</div>
          </li>
          <li class="status-content">
          <div class="status-word">うん</div>
          <div class="states-point">255</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="status">
      <div class="view">
        <img src="##" class="img">
      </div>
      <div class="status-wrapper">
        <ul class="status-contents">
          <li class="status-content">
          <div class="status-word">ちから</div>
          <div class="states-point">15</div>
          </li>
          <li class="status-content">
          <div class="status-word">はやさ</div>
          <div class="states-point">20</div>
          </li>
          <li class="status-content">
          <div class="status-word">ちせい</div>
          <div class="states-point">10</div>
          </li>
          <li class="status-content">
          <div class="status-word">みのまもり</div>
          <div class="states-point">12</div>
          </li>
          <li class="status-content">
          <div class="status-word">うん</div>
          <div class="states-point">255</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="status">
      <div class="view">
        <img src="##" class="img">
      </div>
      <div class="status-wrapper">
        <ul class="status-contents">
          <li class="status-content">
          <div class="status-word">ちから</div>
          <div class="states-point">15</div>
          </li>
          <li class="status-content">
          <div class="status-word">はやさ</div>
          <div class="states-point">20</div>
          </li>
          <li class="status-content">
          <div class="status-word">ちせい</div>
          <div class="states-point">10</div>
          </li>
          <li class="status-content">
          <div class="status-word">みのまもり</div>
          <div class="states-point">12</div>
          </li>
          <li class="status-content">
          <div class="status-word">うん</div>
          <div class="states-point">255</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%# アイテム画面 %>
<div id="modal3">
  <div class="back-btn">◀️ 戻る</div>
  <div class="item-container">
    <ul class="items">
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
      <li class="item">##</li>
    </ul>
  </div>
</div>
<%# まほう画面 %>
<div id="modal4">
  <div class="back-btn">◀️ 戻る</div>
  <div class="magic-container">
    <ul class="magics">
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
      <li class="magic">##</li>
    </ul>
  </div>
</div>
<%# わざ画面 %>
<div id="modal5">
  <div class="back-btn">◀️ 戻る</div>
  <div class="skill-container">
    <ul class="skills">
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>
      <li class="skill">##</li>   
    </ul>
  </div>
</div>
<%# コンフィグ画面 %>
<div id="modal6">
  <div class="config">
    <div class="back-btn">◀️ 戻る</div>
    <div class="config-wrapper">
      <ul class="config-contents">
        <li class="config-content">1 バトルモード</li>
        <li class="config-content">2 スピード</li>
        <li class="config-content">3 メッセージ</li>
        <li class="config-content">4 サウンド</li>
      </ul>
      <ul class="config-parameters">
        <li class="config-parameter">
          <div class="parameter-word">アクティブ</div>
          <div class="parameter-word">ウェイト</div>
        </li>
        <li class="config-parameter">
          <div class="parameter-word">はやい</div>
          <div class="parameter-word">ふつう</div>
          <div class="parameter-word">おそい</div>
        </li>
        <li class="config-parameter">
          <div class="parameter-word">はやい</div>
          <div class="parameter-word">ふつう</div>
          <div class="parameter-word">おそい</div>
        </li>
        <li class="config-parameter">
          <div class="parameter-word">ステレオ</div>
          <div class="parameter-word">モノラル</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<%# セーブ画面 %>
<div id="modal7">
  <div class="save">
    <div class="back-btn">◀️ 戻る</div>
    <div class="save-wrapper">
      <ul class="save-containers">
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
      </ul>
      <ul class="save-containers">
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
      </ul>
      <ul class="save-containers">
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
        <li class="save-container">
          <img src="##" class="img">
          <p class="content-name">###</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<%# セーブ画面の２つ目 %>
<div id="modal8">
  <div class="save-check">すみませんが<br>セーブさせません</div>
</div>
<%# メイン画面 %>
<div class="main">
  <div id="go-btn">
    <p class="go-word">Go</p>
  </div>
</div>
<footer> ~Web_v4~</footer>