<header></header>
<div id="modal1">
  <div class="menu">
    <div class="back-btn">◀️ 戻る</div>
    <div class="main-menu">
      <div class="menu-status">
        <div class="profiles">
          <img src="##" class="img">
          <div class ="profile">
            <div class="name">####</div>
            <div class="life-p">HP<br>9999</div>
            <div class="magic-p">MP<br>999</div>
          </div>
        </div>
        <div class="profiles">
          <img src="##" class="img">
          <div class ="profile">
            <div class="name">####</div>
            <div class="life-p">HP<br>9999</div>
            <div class="magic-p">MP<br>999</div>
          </div>
        </div>
        <div class="profiles">
          <img src="##" class="img">
          <div class ="profile">
            <div class="name">####</div>
            <div class="life-p">HP<br>9999</div>
            <div class="magic-p">MP<br>999</div>
          </div>
        </div>
        <div class="profiles">
          <img src="##" class="img">
          <div class ="profile">
            <div class="name">####</div>
            <div class="life-p">HP<br>9999</div>
            <div class="magic-p">MP<br>999</div>
          </div>
        </div>
      </div>
      <ul class="menu-contents">
        <li class="menu">ステータス</li>
        <li class="menu">アイテム</li>
        <li class="menu">まほう</li>
        <li class="menu">わざ</li>
        <li class="menu">コンフィグ</li>
        <li class="menu">セーブ</li>
      </ul>
    </div>
  </div>
</div>
<div class="main">
  <div id="go-btn">Go</div>
</div>
<footer> ~Web_v4~</footer>