// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//リセットCSS
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color:white;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
}

//header部分
header {
  height: 10vh;
  background-color: cornflowerblue;
}

//main部分
.main {
  width: 100vw;
  height: 85vh;
  position: relative;
  background-color: cornflowerblue;
  // display: none;
}
  #go-btn {
    width: 100px;
    height: 40px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    text-align: center;
    cursor: pointer;
    background-color: mistyrose;
    }

//menu部分
#modal1 {
  width: 100vw;
  height: 100vh;
  margin: 2px solid ivory;
  overflow: auto;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .main-back-btn {
    height: 5vh;
    border: 1px solid ivory;
    background-color: blue;
    color: ivory;
    cursor: pointer;
  }
  .menus{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    .main-menu {
      display: flex;
      width: 100vw;
      height: 95vh;
      background-color: blue;
    
      .menu-status {
        width: 80vw;
        height: 100vh;
        background-color: blue;
        .profiles {
          width: 80vw;
          height: 25vh;
          display: flex;
          padding: 10px;
          background-color: blue;
          .img {
            width: 20vw;
            min-width: 20vw;
            height: 20vh;
          }
          .profile {
            width: 70vw;
            padding-top: 10px;
            padding-left: 10px;
          
            .name, .life-p, .magic-p {
              margin-bottom: 10px;
            }
          }
        }
      }

      .menu-contents {
        width: 20vw;
        height: 100vh;
        padding: 10px 0 0 10px;
        background-color: blue;
        border: 2px solid ivory;
      
        .menu {
          width: 100%;
          height: calc( 100% / 7);        
          color: ivory;
          font-style: italic;
        
          .content-word {
            cursor: pointer;
          }
        }
      }
    }
  }
}

//ステータス部分
#modal2 {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: blue;
  .back-btn {
    height: 5vh;
    border: 1px solid ivory;
    background-color: blue;
    color: ivory;
    cursor: pointer;
  }
  .statuses {
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid ivory;
    border-top: none;
  
    .status {
      margin: 20px;
      .img {
        width: 20vw;
        min-width: 20vw;
        height: 20vh;
      }
    
        .status-content {
          display: flex;
          width: 100%;
          height: calc( 100% / 5);
          margin-bottom: 10px;
          font-size: large;
        
          .status-word {
            width: 80%;
            height: 100%;
          }
        }
    }
  }
}
//アイテム まほう わざ部分
#modal3 {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: blue;
  
  .back-btn {
    height: 5vh;
    border: 1px solid ivory;
    cursor: pointer;
  }
  .item-container {
    width: 100%;
    height: 95%;
    padding: 20px;
    border: 2px solid ivory;
    border-top: none;
    overflow: auto;

    .items {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;

      .item {
        width: calc( 100% / 4);
        height: 5vh;
        list-style: square;
      }
    }
  }

}
//まほう部分
#modal4 {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: blue;
  
  .back-btn {
    height: 5vh;
    border: 1px solid ivory;
    cursor: pointer;
  }
  .magic-container {
    width: 100%;
    height: 95%;
    padding: 20px;
    border: 2px solid ivory;
    border-top: none;
    overflow: auto;

    .magics {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;

      .magic {
        width: calc( 100% / 4);
        height: 5vh;
        list-style: square;
      }
    }
  }

}
//わざ部分
#modal5 {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: blue;
  
  .back-btn {
    height: 5vh;
    border: 1px solid ivory;
    cursor: pointer;
  }
  .skill-container {
    width: 100%;
    height: 95%;
    padding: 20px;
    border: 2px solid ivory;
    border-top: none;
    overflow: auto;

    .skills {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;

      .skill {
        width: calc( 100% / 4);
        height: 5vh;
        list-style: square;
      }
    }
  }

}

//footer部分
footer {
  height: 5vh;
  background-color: cornflowerblue;
  text-align: center;
}

